
*{
    margin: 0;
    padding: 0px;
}

body{
    background-color: #F3EAE3;
    font-family: Arial, Helvetica, sans-serif;
}


#card{
    margin: 0 auto;
    width: 47%;
    height: 28.1rem;
    display: flex;
    margin-top: 7rem;
    background-color: white;
    border-radius: 2rem;
}

img{
    height: 28.1rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    padding-right: 2rem;
}

#information > span{
    color: #8F8E92;
    font-family: monospace;
    letter-spacing: 0.5rem;
    font-size: 1.3rem;
}

#information{
    height: auto;
    width: 40%;
    margin-top: 1.3rem;
}

#information h1{
    padding-top: 1.3rem;
    padding-bottom: 1rem;
    font-size: 2.5rem;
    color: #1D2228;
}

#information p{
    font-size: 1.1rem;
    color: #8F8E92;
}

#price{
    padding-top: 0.5rem;
    display: flex;
}

#oferta{
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: green;
}

#original{
    font-size: 1.3rem;
    line-height: 4.3rem;
    padding-left: 1.2rem;
    color: gray;
    text-decoration-line: line-through;
}

button {
    background-color: #3D8168;
    font-family: monospace;
    color: white;
    border: none;
    width: 80%;
    height: 3rem;
    margin-left: 1.5rem;
    font-size: 1.5rem;
    border-radius: 1rem;
}

#cart{
    width: 1.3rem;
    height: 1.3rem;
    padding: 0px;
    border-radius: 0px;
}

button:hover {
    background-color: #1A4031;
    cursor: pointer;
}

@media (max-width: 800px) {
    #card{
        margin: 0 auto;
        width: 90%;
        height: auto;
        margin-top: 4rem;
        background-color: white;
        border-top-right-radius: 4rem;
    }
    
    img{
        height: 15rem;
        width: 90%;
        border-radius: 0px;
        position: absolute;
        border-top-left-radius: 2rem;
        border-top-right-radius: 3.5rem;
    }

    #information{
        height: auto;
        width: 80%;
        margin-left: 2.5rem;
        margin-top: 16rem;
    }

    button {
        background-color: #3D8168;
        font-family: monospace;
        color: white;
        border: none;
        width: 90%;
        height: 3rem;
        margin-left: 1.5rem;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        border-radius: 1rem;
    }

    #cart{
        width: 2.2rem;
        height: 2.2rem;
        position: relative;
        top: 0.4rem;
        border-radius: 0px;
    }
}